@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@400;700&family=B612:wght@400;700&display=swap');


@layer reset, base, tokens, recipes, utilities;

@layer base {
  html, body {
    font-family: system-ui, sans-serif;
  }

  
  .layout-container {
    padding: 2rem 1rem 0.5rem;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1200px;
  }
  
  a {
    color: var(--primary-color);
    text-decoration: underline;
  }
}

@layer tokens {
  /* Colors */
  :root {
    --primary-color: #002481;
    --illustrations-color: #002FA7;
    --secondary-600: #7F7373;
    --secondary-400: #AEAEAE;
    --background-color: #FFFFFF;
    --background-text: #FFF5EE;
    --text-color: #333333;

        /* Spacing variables */
        --space-1: 0.25rem;  /* 4px */
        --space-2: 0.5rem;   /* 8px */
        --space-3: 0.75rem;  /* 12px */
        --space-4: 1rem;     /* 16px */
        --space-5: 1.5rem;   /* 24px */
        --space-6: 2rem;     /* 32px */
        --space-7: 2.5rem;   /* 40px */
        --space-8: 3rem;     /* 48px */
        --space-9: 4rem;     /* 64px */
        --space-10: 5rem;    /* 80px */
        --space-12: 6rem;    /* 96px */
  }

  

  /* Typography */
  /* Headings */
  h1, .heading-1 {
    font-family: 'Averia Libre', serif;
    font-size: 3.25rem; /* 52px */
    color: var(--primary-color);
    margin-bottom: var(--space-4);
  }

  h2, .heading-2 {
    font-family: 'Averia Libre', serif;
    font-size: 2.625rem; /* 42px */
    color: var(--primary-color);
    margin-bottom: var(--space-4);

  }

  h3 {
    font-family: 'Averia Libre', serif;
    font-size: 1.875rem; /* 30px */
    color: var(--primary-color);
  }

  h4 {
    font-family: 'Averia Libre', serif;
    font-size: 1.5rem; /* 24px */
    color: var(--primary-color);
  }

  h5 {
    font-family: 'Averia Libre', serif;
    font-size: 1.125rem; /* 18px */
    color: var(--primary-color);
  }

  h6{
    font-family: 'Averia Libre', serif;
    font-size: 1.0625rem; /* 17px */
    color: var(--primary-color);
  }

  /* Paragraphs */
  .p-large {
    font-family: 'B612', sans-serif;
    font-size: 1.5rem; /* 24px */
    line-height: 1.5;
    color: var(--illustrations-color)
  }

  .p-medium {
    font-family: 'B612', sans-serif;
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    color: var(--illustrations-color)
  }

  .p-small {
    font-family: 'B612', sans-serif;
    font-size: 0.75rem; /* 12px */
    line-height: 1.5;
    color: var(--illustrations-color)
  }

  .p-xsmall {
    font-family: 'B612', sans-serif;
    font-size: var(--text-p-xsmall);
    line-height: 1.5;
    color: var(--illustrations-color)
  }

  /* Buttons */
  .btn {
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: var(--space-5);
  }

  .btn-primary {
    background-color: var(--primary-color);
    color: white;
  }

  .btn-primary:hover {
    background-color: var(--illustrations-color);
  }
}

/* Font sizes based on the style guide */
@layer utilities {
  .text-h1 { font-size: 2.625rem; /* 42px */  }
  .text-h2 { font-size: 1.875rem; /* 30px */}
  
  .text-h3 { font-size: 1.5rem; /* 24px */ }
  .text-h4 { font-size: 1.125rem; /* 18px */ }
  .text-h5 { font-size: 1.125rem; /* 18px */ }
  .text-h6 { font-size: 1.0625rem; /* 17px */ }
  .text-h7 { font-size: 0.9375rem; /* 15px */ }
  .text-h8 { font-size: 0.875rem; /* 14px */ }
  
  /* Paragraph sizes */
  .text-p-large { font-size: 1.5rem; /* 24px */ }
  .text-p-medium { font-size: 1rem; /* 16px */ }
  .text-p-small { font-size: 0.75rem; /* 12px */ }
  .text-p-xsmall { font-size: 0.5rem; /* 8px */ }

}
